<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/automation.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>mllp sender </title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/mllpsend.js"></script>
</head>
<body>


<h1> mllp sender - single message</h1>

<h3 th:inline="text">
    Host: [[${hostName}]]   ( [[${hostAddress}]]  )
</h3>



<table>
    <tr>
        <td>
            Host
        </td>
        <td><input size="60" id="sendHost" name="sendHost" th:value="${sendHost}" type="text" onchange="connect()"></td>
    </tr>
    <tr>
        <td>
            Port
        </td>
        <td>
            <input size="10" id="sendPort" name="sendPort" th:value="${sendPort}" type="text" onchange="connect()">
        </td>


    </tr>
</table>


<table>
    <tr>
        <td>
            <button class="startButton" id="Submit" name="startButton" onclick="connect(this)" type="button">Connect</button>
        </td>
        <td>
            <button class="stopButton" id="Stop" name="stopButton" onclick="disconnect(this)" type="button">Disconnect</button>
        </td>
        <td>
            <div id="test_result">
            <p class="connect">
                    <img src="disconnected.jpg" alt="Disconnected" > &nbsp; &nbsp;
                waiting for status ............................................ </p>
          </div>
        </td>
        <td>
            <a href="home"> <img alt="home" src="/home-30.png"> </a>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>

            <table>
                <tr>
                    <td>
                        <input class="inputfile" type="file" id="file"  name="file" onchange="uploadFile(this)"/>  <label for="file">Load from file</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="startButton" id="Send" name="sendButton" onclick="send(this)" type="button">Send</button>
                    </td>

                </tr>
            </table>

        </td>

        <td>
            <textarea class="message" id="hl7Message" name="hl7Message" rows="10" cols="100" th:text="${hl7Message}"> > </textarea>
        </td>

    </tr>
    <tr>
        <td>
            Response
        </td>

        <td>
            <textarea class="response" id="hl7Response" name="hl7Response" rows="3" cols="100" th:text="${hl7Response}" readonly> > </textarea>
        </td>

    </tr>
</table>


<div hidden id="loader">
    <img alt="loading" src="/ajax-loader.gif">
</div>


</body>
</html>


